{% extends 'index.html' %}

{% block title %} Thay đổi mật khẩu {% endblock %}

{% block content %}
<div class="change-password" style="width:60%">
    <h2 style="color: #3b3939;">Thay đổi mật khẩu</h2>
</p>



<form method="post">

    {{form.as_p}}

    <a href="" class="btn--hover"><input  type="submit" style="    background-color: rgb(0,158,251);
    border: none;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;" value="Thay Đổi"></a>
    {% csrf_token %}
</form>
</div>

{% endblock %}
